.login-app {
    background-image: url(../SignUp/background.png);
    opacity: 20%;
    min-width: 100rem;
    min-height: 48rem;
    padding-top: 2.5rem;
    background-repeat: no-repeat;
    position: fixed;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.login-form {
    background-image: url(../SignUp/background.png);
    background-color: #005083;
    width: 24rem;
    height: 44.5rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    margin: auto;
}

.username {
    margin-bottom: 1rem;
}

.password p,
.username p {
    margin-top: 0.5rem;
    color: #0e0d0d;
}

.title {
    font-weight: bold;
    margin-left: 4.25rem;
    padding-top: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.form-group-login {
    margin-top: 3rem;
    text-align: left;
    margin-left: 5rem;
}

.form-group-login input {
    width: 15.5rem;
    height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #0C3265;
    margin-bottom: -1rem;
    margin-left: -0.5rem;
}

.lupa-sandi {
    color: #ffffff;
    margin-left: 9rem;
    margin-top: 0.75rem;
    font-size: 0.75rem;

}

.login button {
    margin-top: 5rem;
    margin-left: -0.25rem;
    width: 15.6rem;
    height: 3rem;
    border: none;
    background-color: #1BAEC9;
    font-size: 1rem;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.regis p {
    color: #ffffff;
    margin-left: -0.25rem;
    font-size: 0.75rem;
}