/* #page-wrap {
    transform: translate3d(10rem, 0px, 0px) !important;
    transition: all 0.5s ease 0s !important;
} */


/* .table-header-wrapper {
    margin-bottom: -3rem;
} */

.table {
    width: 80%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
    margin: auto;
    margin-top: 3rem;
}

thead {
    background-color: #1BAEC9;
    color: #FFFFFF;
    font-family: helvetica;
}

tbody {
    background-color: #f1f8fc;
}

.button-apps {
    margin: auto;
}

.table td,
.table th {
    border-left: 1px solid #dee2e6;
}

.row .col-md-5 {
    padding-left: 20rem;
}

.react-bs-container-body {
    margin-top: -3rem;
}

#edit {
    background-color: #1BAEC9;
    border: #1BAEC9;
    height: 2.5rem;
    border-radius: 0.5rem;
    width: 4rem;
    margin-right: 2rem;
}

#delete {
    background-color: #C64343;
    border: #C64343;
    height: 2.5rem;
    width: 4rem;
    border-radius: 0.5rem;

}

#edit,
#delete {
    color: #FFFFFF;
    text-align: center;
    opacity: 100%;
}

a {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.TambahUser {
    text-align: -webkit-right;
    background: #1AAD2B;
    color: #FFFFFF;
    border: #1AAD2B;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-top: 15rem;
    margin-left: 50rem;

}