.table {
    width: 75%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
    margin: auto;
    margin-top: 3rem;
}

table {
    width: 75%;
}

thead {
    background-color: #1BAEC9;
    color: #FFFFFF;
    font-family: helvetica;
}

tbody {
    background-color: #f1f8fc;
}

.button-apps {
    margin: auto;
}

bootstrapbutton {
    padding: 0.60rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    border-radius: 0.25rem !important;
    text-align: center;
    margin: auto;
    margin-right: -2rem;
}

#edit2 {
    background-color: #1BAEC9;
    border: #1BAEC9;
    height: 2.5rem;
    border-radius: 0.5rem;
    width: 4rem;
    margin: auto;
    margin-left: 1rem;
    color: #FFFFFF;

}

#delete2 {
    background-color: #C64343;
    border: #C64343;
    height: 2.5rem;
    width: 4rem;
    margin: auto;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    color: #FFFFFF;
}


.table td,
.table th {
    border-left: 1px solid #dee2e6;
}

/* 
.row .col-md-5 {
    padding-left: 20rem;
} */
.react-bs-container-body {
    margin-top: -3rem;
}

a {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.TambahUser {
    text-align: -webkit-right;
    background: #1AAD2B;
    color: #FFFFFF;
    border: #1AAD2B;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-top: 15rem;
    margin-left: 50rem;
}