.title-sidebar {
    font-size: 2.5rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 0.5rem;
    color: #ffffff;
}

.menu-item {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: none;
    justify-content: center;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    color: #ffffff;
    background-color: #1CAAC5;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
}

.list ul {
    font-size: 0.77rem;
    list-style: none;
    text-align: left;
    list-style: none;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.list li {
    margin-left: 2rem;
}

.log-out {
    margin-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin-top: 5rem;
    color: #ffffff;
    font-size: 1rem;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

.bm-burger-bars {
    background: #373a47;

}

.bm-burger-bars-hover {
    background: #ffffff;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
    margin-top: -5rem;
}

.bm-cross {
    background: black;
}


.bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 19rem !important;
}

.bm-menu {
    background: #1CAAC5;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    margin-top: -5.75rem;
}

.bm-item-list {
    /* color: #b8b7ad; */
    padding: 0.8em;
    background-color: #1CAAC5;
}

.bm-overlay {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: none !important;
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0s ease 0.3s;
    transform: translate3d(150px, 0px, 0px);
}

/* 
#question-wrap {
    transition: all ease 0.5s, transform 0s ease 0.3s;
    transform: translate3d(150px, 0px, 0px);
} */