.button-app {
  margin: auto;
}

table {
  width: 75%;
}

thead {
  background-color: #1BAEC9;
  color: #FFFFFF;
  font-family: helvetica;
}

tbody {
  background-color: #f1f8fc;
}

.edit {
  background-color: #1BAEC9;
  border: #1BAEC9;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.hapus {
  background-color: #C64343;
  border: #C64343;
  height: 2.5rem;
  width: 4rem;
  border-radius: 0.5rem;
  margin-right: -7rem;
}

.dropdown-item {
  background-color: #1BAEC9;
}

.btn-secondary {
  background-color: #1CAAC5;
}

.btn-secondary:hover {
  color: #FFFFFF;
  background-color: #FFFFFF;
  border: none;
}

.dropdown .react-bs-table-sizePerPage-dropdown {
  background-color: #1CAAC5;
}

.dropdown :hover {
  background-color: #1CAAC5;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  color: #FFFFFF;
  background-color: #1CAAC5;
  border-color: #1BAEC9;
  border: none;
}

#bm-tabel-app {
  transform: translate3d(150px, 0px, 0px) !important;
  background-color: #1AAD2B;
  margin: 100px !important;
}

.edit,
.hapus {
  color: #FFFFFF;
  text-align: center;
  opacity: 100%;
}

.TambahSoal {
  text-align: -webkit-right;
  background: #1AAD2B;
  color: #FFFFFF;
  border: #1AAD2B;
  height: 2.5rem;
  border-radius: 0.5rem;
  margin-top: 15rem;
  margin-left: 73rem;
}

/* 
#question-wrap {
  transform: translate3d(300px, 0px, 0px);
  transition: all 0.5s ease 0s;
  margin-right: 18rem;
} */