.button-app {
  margin: auto;
}

table {
  width: 80%;
}

thead {
  background-color: #1BAEC9;
  color: #FFFFFF;
  font-family: helvetica;
}

tbody {
  background-color: #f1f8fc;
}

.dropdown-item {
  background-color: #1BAEC9;
}

.btn-secondary {
  background-color: #1CAAC5;
}

.btn-secondary:hover {
  color: #FFFFFF;
  background-color: #FFFFFF;
  border: none;
}

.dropdown .react-bs-table-sizePerPage-dropdown {
  background-color: #1CAAC5;
}

.dropdown :hover {
  background-color: #1CAAC5;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  color: #FFFFFF;
  background-color: #1CAAC5;
  border-color: #1BAEC9;
  border: none;
}

#bm-tabel-app {
  transform: translate3d(150px, 0px, 0px) !important;
  background-color: #1AAD2B;
  margin: 100px !important;
}

bootstrapbutton {
  padding: 0.60rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  border-radius: 0.25rem !important;
  text-align: center;
  margin: auto;
  margin-right: -2rem;
}

#edit1 {
  background-color: #1BAEC9;
  border: #1BAEC9;
  height: 2.5rem;
  border-radius: 0.5rem;
  width: 4rem;
  margin-left: 1rem;
  color: #FFFFFF;

}

#delete1 {
  background-color: #C64343;
  border: #C64343;
  height: 2.5rem;
  width: 4rem;
  margin: auto;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  color: #FFFFFF;
}

.TambahSoal {
  text-align: center;
  background: #1AAD2B;
  color: #FFFFFF;
  border: #1AAD2B;
  height: 3rem;
  width: 6rem;
  border-radius: 0.5rem;
  margin-top: 19rem;
  margin-left: 74rem;
}

.react-bs-table-pagination .row {
  margin-left: 10rem;
}

/* 
#question-wrap {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: none !important;
  opacity: 0;
  transform: translate3d(-150px, 0px, 0px);
  transition: all 0.5s ease;
} */